.BookReview {
    background-color: #eadfde;
    border: 1px solid #a45c74;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .BookReview figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #a45c74;
  }
  
  .Heart:hover {
    color: #5ca48c;
  }
  
  .HeartOutline:hover {
    color: #a45c74;
  }